manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/slss-denovo'

    /* Description of project */
    description = 'USDA APHIS SLSS De Novo Hybrid Short/Long Read Data Assembly Pipeline.'

    /* Main pipeline script */
    mainScript = 'denovo.nf'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = false

    /* Enable auto-mounting of host paths (requires user bind control feature enabled) */
    autoMounts = true
}

params {
    /* These are the default parameter values for the nextflow pipeline */

    /* File: Run assembly using hybrid short/long read data */
    hybrid = 'NONE_HYBRID'

    /* File: Run paired-end assembly */
    reverse = 'NONE_REV'

    /* File: Reference genome */
    reference = 'NONE_REF'

    /* File: Host reference genome */
    host = 'NONE_REF'

    /* Flag: Use existing reference genome index files for BWA */
    use_provided_index = false

    /* String: overrides for Flye (usually if other modes fail) */
    /* Example: "--asm-coverage 50 --genome-size 190m"
    flye_override='NONE_FLYE'

    /* Flag: Run Nanopore long read only assembly using Flye (overrides metagenomic, hybrid) */
    nanopore = false

    /* Flag: Use metaSPAdes instead of SPAdes */
    metagenomic = false

    /* Number of threads */
    threads = 48

    /* Display help message */
    help = false
}

process {
	/* Cluster options */
	scratch=true

	/* If modifying maxForks, change the global Python variable NEXTFLOW_MAX_FORKS in asffast.py to the same value */
	maxForks = 1
}
