manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/slss-denovo'

    /* Description of project */
    description = 'USDA APHIS SLSS De Novo Hybrid Short/Long Read Data Assembly Pipeline.'

    /* Main pipeline script */
    mainScript = 'denovo.nf'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = false

    /* Enable auto-mounting of host paths (requires user bind control feature enabled) */
    autoMounts = true
}

params {
    /* These are the default parameter values for the nextflow pipeline */

    /* These are the default parameter values for the nextflow pipeline */

    /* Flag: Run assembly using hybrid short/long read data */
    hybrid = ''

    /* Flag: Run Nanopore long read only assembly using Flye (overrides metagenomic, hybrid) */
    nanopore = false

    /* Flag: Use metaSPAdes instead of SPAdes */
    metagenomic = false

    /* Number of threads */
    threads = 16

    /* Display help message */
    help = false
}

process {
	/* Cluster options */
	scratch = true

	/* If modifying maxForks, change the global Python variable NEXTFLOW_MAX_FORKS in asffast.py to the same value */
	maxForks = 1
}
