manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/slss-asffast'

    /* Description of project */
    description = 'USDA APHIS SLSS ASFFAST Rapid Characterization for Long-Read Data.'

    /* Main pipeline script */
    mainScript = 'asffast.nf'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = false

    /* Enable auto-mounting of host paths (requires user bind control feature enabled) */
    autoMounts = true
}

params {
    /* These are the default parameter values for the nextflow pipeline */

    /* Flag: Run time series coverage curve analysis */
    barcodes = false

    /* Flag: Run final analysis */
    final_flag = false

    /* Number of threads */
    threads = 1

    /* Number of forks for local executor (should match maxForks in process section) */
    forks = 50

    /* Display help message */
    help = false
}

process {
	/* Cluster options */
	scratch = true

	/* If modifying maxForks, change the global Python variable NEXTFLOW_MAX_FORKS in asffast.py to the same value */
	withName: BwaAlignNoBarcodes {
		maxForks = 50
	}

	withName: BwaAlignWithBarcodes {
		maxForks = 50
	}

	withName: CoverageAnalysisIntermediate {
		maxForks = 1
	}

	withName: MergeAlignedSamFiles {
		maxForks = 1
	}

	withName: ProduceConsensus {
		maxForks = 1
	}
}
